<?xml version="1.0"?>
<dictionary>
  <item>
    <key>
      <string>ProjectRoot</string>
    </key>
    <value>
      <string>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;string&gt;D:\Users\Philip\workspace\MHRL\android\assets\ProjectRoot.xml&lt;/string&gt;</string>
    </value>
  </item>
  <item>
    <key>
      <string>RecentFiles</string>
    </key>
    <value>
      <string>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;string&gt;D:\Users\Philip\workspace\MHRL\android\assets\Definitions\SceneTimeline.xmldef&lt;/string&gt;
  &lt;string&gt;D:\Users\Philip\workspace\MHRL\android\assets\Grammars\Test.xml&lt;/string&gt;
&lt;/ArrayOfString&gt;</string>
    </value>
  </item>
  <item>
    <key>
      <string>IgnoredFeature</string>
    </key>
    <value>
      <string>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;string&gt;1.5.0 (https://github.com/infinity8/StructuredXmlEditor/releases/download/v1.5.0/StructuredXmlEditor.exe)&lt;/string&gt;</string>
    </value>
  </item>
</dictionary>